
PASwipeViewController.xcodeproj/xcuserdata/philippeauriach.xcuserdatad/xcschemes/PASwipeViewController.xcscheme

PASwipeViewController.xcodeproj/xcuserdata/philippeauriach.xcuserdatad/xcschemes/xcschememanagement.plist
